@model LojaSuplemento.Models.Categoria

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAreaRestrita.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Adicionar categoria</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NomeCategoria" class="control-label"></label>
                        <input asp-for="NomeCategoria" class="form-control" />
                        <span asp-validation-for="NomeCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group float-left">
                        <a class="btn btn-outline-secondary mr-2" asp-action="Index">Voltar</a>
                    </div>
                    <div class="form-group float-right">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
