@model LojaSuplemento.Models.Categoria

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAreaRestrita.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Editar categoria</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="NomeCategoria" class="control-label"></label>
                        <input asp-for="NomeCategoria" class="form-control" />
                        <span asp-validation-for="NomeCategoria" class="text-danger"></span>
                    </div>
                    <div class="form-group float-left">
                        <a class="btn btn-outline-secondary mr-2" asp-action="Index">Voltar</a>
                    </div>
                    <div class="form-group float-right">
                        <a class="btn btn-danger mr-2" data-toggle="modal" data-target="#exampleModal">Excluir</a>
                        <input type="submit" value="Salvar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger mr-2" asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>
                <input type="hidden" asp-for="Id" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
